<footer class="footer mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
        <h5 class="text-white">ShopEase</h5>
        <p class="text-light">Your one-stop destination for all your shopping needs. Quality products at the best prices.</p>
        <div class="social-links">
          <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-light"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-6 mb-4">
        <h6 class="text-white">Quick Links</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
          <li><a href="#" class="text-light text-decoration-none">Contact</a></li>
          <li><a href="#" class="text-light text-decoration-none">FAQ</a></li>
          <li><a href="#" class="text-light text-decoration-none">Support</a></li>
        </ul>
      </div>
      
      <div class="col-md-3 col-sm-6 mb-4">
        <h6 class="text-white">Categories</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/products/electronics" class="text-light text-decoration-none">Electronics</a></li>
          <li><a routerLink="/products/fashion" class="text-light text-decoration-none">Fashion</a></li>
          <li><a routerLink="/products/home" class="text-light text-decoration-none">Home & Garden</a></li>
          <li><a routerLink="/products/sports" class="text-light text-decoration-none">Sports</a></li>
        </ul>
      </div>
      
      <div class="col-md-3 col-sm-6 mb-4">
        <h6 class="text-white">Customer Service</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Shipping Info</a></li>
          <li><a href="#" class="text-light text-decoration-none">Returns</a></li>
          <li><a href="#" class="text-light text-decoration-none">Track Order</a></li>
          <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    
    <hr class="border-light">
    
    <div class="row align-items-center">
      <div class="col-md-6">
        <p class="text-light mb-0">&copy; 2023 ShopEase. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <div class="payment-methods">
          <i class="fab fa-cc-visa text-light me-2"></i>
          <i class="fab fa-cc-mastercard text-light me-2"></i>
          <i class="fab fa-cc-paypal text-light me-2"></i>
          <i class="fab fa-cc-stripe text-light"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
